:root {
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;
    --border-field: inset -1px -1px var(--button-highlight),
        inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
        inset 2px 2px var(--window-frame);
}

::-webkit-scrollbar-button:vertical:start,
::-webkit-scrollbar-button:vertical:end {
    display: none;
}

body {
    background-color: #008080;
    image-rendering: pixelated;
}

.hidden {
    display: none !important;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.window-body {
    gap: 10px;
}

.windowarea {
    display: grid;
    height: 120px;
    width: fit-content;
    align-items: center;

    padding: 12px 8px;
    margin: 0;
    margin-top: 6px;
    gap: 10px;
}

.settings-fieldset {
    display: grid;
    align-items: center;
    gap: 5px;
    width: 100px;
}

.download-fieldset {
    width: 100%;
}

.download-buttons {
    display: inline-flex;
    margin-left: 10px;
    gap: 5px;
    align-items: center;
}

.download-radio {
    display: inline-flex;
    margin-bottom: 10px;
}

.space-windowbody {
    display: flex;
    place-content: space-between;
}

button.active {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    text-shadow: 1px 1px #222;
}

.options-pane {
    overflow-y: scroll;
    background-image: url("images/bg-trans.png");
    background-color: lightcyan;
}

#dummy-flag {
    content: '';
    width: 88px;
    flex-shrink: 0;
}

.flag {
    width: 88px;
    height: 31px;
}

#final-badge-pane {
    background-image: url("images/bg-trans.png");
    background-color: khaki;
}

textarea {
    width: 100%;
    overflow: hidden;
    height: fit-content;
    resize: none;
}

.window-field-stack {
    display: flex;
    flex-direction: column;
}

.border {
    box-shadow: var(--border-field);
}

.focused {
    outline: 1px dotted #000000;
    outline-offset: 2px;
}